/WRTools/PathHelp.py
/WRTools/UserAgentHelper.py
/Bom_price/bom_price_log.txt
/__pycache__/*
*.pyc
*.png
/.idea
/venv/*
/IC_Search/CroppedImages/
/IC_Search/temp_hot_images/
IC_Search/CroppedImages/*
/WRTools/__pycache__/*